.ngfontchart.icon {
	-webkit-background-clip: text;                 
	background-clip: text;
	color: rgba(0,0,0,0);
	background-position: 0px 0px;  
	background-repeat: no-repeat;    
	background-size: 200%;
}

.ngfontchart.background-transition-slow {
	-webkit-transition: 2000ms ease;
    -moz-transition: 2000ms ease;
    -ms-transition: 2000ms ease;
    -o-transition: 2000ms ease;
	transition: 2000ms ease;
}