/* app css stylesheet */

body {
  background: #2c3e50;
  font-family: "helvetica neue";
}

.metrics {
  display: inline-block;
  text-align: center;
  margin: 0px 20px;
}

.content {
  text-align: center;
  width: 100%;
}

.content>div {
  position: absolute;
}

.content>div.charts {
  left: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
}

.metrics>.odometer.odometer-auto-theme, 
.metrics>.odometer.odometer-theme-minimal {
  display: block;
  font-size: 20px;
  font-family: "helvetica neue";
  border-radius: 5px;
  margin: 10px 0px;
  padding: 0px 10px;
}

.background-transition-slow {
  -webkit-transition: 1000ms ease;
  -moz-transition: 1000ms ease;
  -ms-transition: 1000ms ease;
  -o-transition: 1000ms ease;
  transition: 1000ms ease;
}

.background-transition-fast {
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

.ngfontchart.icon {
  font-size: 80px;
  font-weight: 300;
}

.theme {
  margin: 100px 0px 100px 0px;
}

footer {
}

footer>div {
  position: absolute;
  color: white;
  bottom: 40px;
}

footer>div a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

footer>div a:hover {
  text-decoration: underline;
  vertical-align: bottom;
}

footer>div.twitter {
  left: 40px;
}

footer>div.twitter>div {
  display: inline-block;
  vertical-align: middle;
}

footer>div.twitter>div.avatar {
  margin: 0px 5px 0px 0px;
  background: url("../images/about.bahaaldine.png");
  background-size: contain;
  border: solid 3px white;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

footer>div.github {
  right: 40px;  
}

footer>div.github>div {
  display: inline-block;
  vertical-align: middle;
}

footer>div.github>div.icon {
  font-size: 35px;
  margin: 0px 5px 0px 0px;
}
